*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# setup.py
dist

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Debian build
build-stamp
configure-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/pybit-client/
debian/pybit-common/
debian/pybit-svn/
debian/pybit-web/


# Mr Developer
.mr.developer.cfg
.project
.pydevproject
