include buildd-test.py
include pybitclient/dput.cf pybitclient/sbuild-cross.sh pybitclient/sbuild-orig.sh
include configs/* test/* configs/client/* configs/watcher/* configs/web/*
include hook/* db/*
include db/updates/*
include pybitweb/static/*
include pybitweb/static/bootstrap/*
include pybitweb/static/bootstrap/css/*
include pybitweb/static/bootstrap/img/*
include pybitweb/static/bootstrap/js/*
include pybitweb/static/js/*
include pybit-client
include pybit_web.py
include pybitclient/README
include apache_config.txt
include application.wsgi
include pybit-watcher
