Package: pybit-watcher
Source: pybit
Version: 0.1.1-1
Architecture: all
Maintainer: Neil Williams <codehelp@debian.org>
Installed-Size: 80
Depends: python-inotify, python-daemon, pybit-common, python2.6, python (>= 2.6), python (<< 2.7)
Section: devel
Priority: extra
Description: pybit-watcher can watch incomming directories for reprepro
 This package provides a watcher which runs as a daemon and monitors a
 directory for changes files then runs the appropriate reprepro rule.
