#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifneq (,$(findstring verbose,$(DEB_BUILD_OPTIONS)))
	VERBOSE="VERBOSE=1"
endif

VERSION := $(shell dpkg-parsechangelog | grep '^Version: ' | awk '{print $$2}')

PYTHON2:=$(shell pyversions -r)
pyalldo=set -e; $(foreach py, $(PYTHON2) $(PYTHON3), PYTHONPATH=. $(py) $(1);)

configure: configure-stamp
configure-stamp: build-setup
	dh_testdir
	touch configure-stamp

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(call pyalldo, test/*.py)
	touch $@

build-setup: setup.py
	dh_testdir
	python setup.py build

clean:
	dh_testdir
	dh_testroot
	$(RM) build-stamp configure-stamp setup.py
	$(RM) -r build pybit_client.egg-info pybit_common.egg-info pybit_web.egg-info
	$(RM) -r build 	[ ! -f Makefile ] || $(MAKE) clean
	find . -name '*.pyc' -delete
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	python setup.py install --root="$(CURDIR)/debian/tmp" --no-compile

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install $(exclusions) --exclude=.svn
	dh_compress
	dh_python2
	dh_link
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
